{% extends 'common/error-base.twig' %}

{% block body %}
    <div class="error-code">500</div>
    <div class="error-message">Internal Server Error</div>
    <a href="/" class="home-link">Go to Homepage</a>
{% endblock %}