{% extends 'common/error-base.twig' %}

{% block body %}
    <div class="error-code">429</div>
    <div class="error-message">Too Many Requests</div>
    <a href="/" class="home-link">Go to Homepage</a>
{% endblock %}