{% extends 'common/error-base.twig' %}

{% block body %}
    <div class="error-code">426</div>
    <div class="error-message">Upgrade Required</div>
    <a href="/" class="home-link">Go to Homepage</a>
{% endblock %}