{% extends 'common/error-base.twig' %}

{% block body %}
    <div class="error-code">503</div>
    <div class="error-message">Service Unavailable</div>
    <a href="/" class="home-link">Go to Homepage</a>
{% endblock %}