{% extends 'common/error-base.twig' %}

{% block body %}
    <div class="error-code">400</div>
    <div class="error-message">Bad Request</div>
    <a href="/" class="home-link">Go to Homepage</a>
{% endblock %}