{% extends 'common/error-base.twig' %}

{% block body %}
    <div class="error-code">Oops!</div>
    <div class="error-message">An unknown error occurred</div>
    <a href="/" class="home-link">Go to Homepage</a>
{% endblock %}