<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href={{ asset('assets/images/favicon.png') }} type="image/x-icon"/>
    {# LINK ASSETS #}
    {{ encore_entry_link_tags('error-page-css') }}
</head>
<body>
    <div class="error-container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>