<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speed Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href={{ asset('assets/images/favicon.png') }} type="image/x-icon"/>
    {# LINK ASSETS #}
    {{ encore_entry_link_tags('main-css') }}
</head>
<body>
    {% block body %}{% endblock %}

    {% block javascripts %}
    {% endblock %}
</body>
</html>