// error page styles
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #0a192f;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #e0e1dd;
    display: flex;
    height: 100vh;
    margin: 0;
}

.error-container {
    padding: 20px;
}

.error-code {
    font-size: 8rem;
    color: #506e90;
    font-weight: bold;
}

.error-message {
    margin-top: 5px;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.home-link {
    color: #e0e1dd;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #e0e1dd;
    transition: background-color 0.3s, color 0.3s;
}

.home-link:hover {
    background-color: #e0e1dd;
    color: #0d1b2a;
}
