// custom dark scrollbar
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
} 

::-webkit-scrollbar-track {
	background: #0e2043;
}
 
::-webkit-scrollbar-thumb {
	min-height: 80px;
	background: #23385f;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
} 

::-webkit-scrollbar-thumb:hover {
	background: #2d487a;
}

/* mobile devices style */
@media screen and (max-width: 800px) { 
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
    ::-webkit-scrollbar-thumb {
		min-height: 60px;
    } 
}
