{% extends 'common/main-base.twig' %}

{% block body %}
<div class="container">
    <div class="ip-info">
        Your IP Address: 
        <strong>
            {% if isPrivate %}
                {{ ipAddress }} (Private Range)
            {% else %}
                {{ ipAddress }}
            {% endif %}
        </strong>
    </div>

    <div class="gauge-container">
        <canvas id="speed-gauge"></canvas>
        <div id="gauge-text">
            <div class="gauge-speed">0.00</div>
            <div class="gauge-unit">Mbps</div>
        </div>
    </div>

    <div id="test-results">
        <div class="result-item">
            <p>Ping</p>
            <p><span id="ping">-</span> ms</p>
        </div>
        <div class="result-item">
            <p>Download</p>
            <p><span id="download">-</span> Mbps</p>
        </div>
        <div class="result-item">
            <p>Upload</p>
            <p><span id="upload">-</span> Mbps</p>
        </div>
    </div>

    <div class="status-text">Press Start to begin</div>

    <button id="start-test">Start Test</button>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
