{% extends 'common/main-base.twig' %}

{% block body %}
<div class="container">
    <div class="ip-info">
        Your IP Address: 
        <strong>
            {% if isPrivate %}
                {{ ipAddress }} (Private Range)
            {% else %}
                {{ ipAddress }}
            {% endif %}
        </strong>
    </div>

    <div class="gauges-container">
        <div class="gauge-wrapper" id="download-wrapper">
            <h3>Download</h3>
            <canvas id="download-gauge"></canvas>
            <div class="gauge-text">
                <div class="gauge-speed" id="download-speed">0.00</div>
                <div class="gauge-unit">Mbps</div>
            </div>
        </div>
        <div class="gauge-wrapper" id="upload-wrapper">
            <h3>Upload</h3>
            <canvas id="upload-gauge"></canvas>
            <div class="gauge-text">
                <div class="gauge-speed" id="upload-speed">0.00</div>
                <div class="gauge-unit">Mbps</div>
            </div>
        </div>
    </div>

    <div id="ping-result">
        <p>Ping: <span id="ping">-</span> ms</p>
    </div>

    <div class="status-text">Press Start to begin</div>

    <button id="start-test">Start</button>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}